@import "Util";

#articles-container-wrapper {
  // padding: 10vh 10vw;
  position: relative;
  background-color: $primary-dark;
  @media (max-width: 768px) {
    padding: 5vh 5vw;
  }
}
#articles-container {
  background-color: $primary;
  width: 70vw;
  min-height: 20vw;
  margin: 80px auto;
  display: flex;
  #articles-left {
    // border: 1px solid red;
    width: 35%;
    @include pBig;
    margin: auto;
    .article-list {
      // border: 1px solid red;
      position: relative;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $accent;
      }
    }
    #selected {
      // border-left: 5px solid $accent;
      color: $accent;
      font-weight: 400;
    }
  }
  #articles-right {
    // border: 1px solid red;
    width: 65%;
    border-left: 2px solid $primary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    width: 75vw;
    flex-direction: column;
    #articles-left {
      width: auto;
      @include pSmall;
      display: flex;
      .article-list {
        height: auto;
        margin: 10px 8px;
      }
    }
    #articles-right {
      width: 100%;
    }
  }
}
#article-container {
  // border: 1px solid red;
  text-align: center;
  width: 70%;
  > * {
    margin: 20px 0;
  }
  @media (max-width: 768px) {
    width: 90%;
    > * {
      margin: 15px 0;
    }
  }

  .tech {
    max-height: 120px;
    min-height: 80px;
    height: 6vw;
    border: 1px solid $accent;
    border-radius: 50%;
  }
  button {
    @include btnPill;
    &:hover {
      @include btnPillHover;
    }
  }
}
.underline {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: $accent;
  @media (max-width: 768px) {
    top: 100%;
    height: 1.5px;
    width: 100%;
  }
}
#articles-container-wrapper::before {
  content: "Articles";
  @include sectionTitle;
}

// #articles-container-wrapper::before {
//   content: "Articles";
//   @include sectionTitle;
// }
