@import "Util";
#hero-comp {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../img/BackgroundMountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5vh 10vw 0 10vw;
}
#hero-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 1.3rem - 5vh);
  > * {
    flex-basis: 100%;
    // border: 2px solid red;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
  #hero-left {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #hero-left > div {
    // border: 2px solid red;
    #hero-tag {
      padding: 0 2% 0 2%;
      width: max-content;
      font-size: 0.8rem;
      font-weight: 400;
      background-color: $accent;
      color: $primary;
      border-radius: 0.1875rem;
      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
    }
    #hero-heading {
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 2px;
      span {
        color: $accent;
      }
      @media (max-width: 768px) {
        @include h1Small;
        margin-bottom: 1rem;
      }
    }
    #btn-works {
      @include btnPill;
      &:hover {
        @include btnPillHover;
      }
    }
    #btn-resume {
      @include btnUnderlined;
    }
  }

  #hero-right {
    background-image: url("../../img/HeroImage3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      background-image: url("../../img/HeroImage4.png");
    }
  }
}
