@import "Util";
#intro-container {
  min-height: 60vh;
  background-color: $primary-dark;
  padding: 0 10vw;
  text-align: center;
  position: relative;
  > div {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #intro-title {
    @include titleBig;
    position: absolute;
    left: 60%;
    top: 10%;
    @media (max-width: 768px) {
      @include titleSmall;
      left: 50%;
      top: 2%;
    }
  }
  #intro-heading {
    // @include h1Big;
    margin-bottom: 2rem;
    // @media (max-width: 768px) {
    //   @include h1Small;
    // }
  }
  #intro-content {
    @include pBig;
    font-weight: lighter;
    width: 60vw;
    @media (max-width: 768px) {
      @include pSmall;
      width: 100%;
    }
  }
}
