@import "Util";
#intro-container {
  height: 500px;
  background-color: $primary-dark;
  padding: 50px 10vw 0 10vw;
  text-align: center;

  #intro-content {
    font-weight: lighter;
    margin: 30px auto 0 auto;
    width: 50vw;
  }
  #intro-title {
    display: inline;
    margin-left: 50vw;
    font-size: 5rem;
    font-weight: 600;
    opacity: 0.05;
  }
}
