@import "Util";
#intro-container {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark;
  #intro {
    width: 60vw;
  }

  #intro-heading {
    text-align: center;
    // @include h1Big;
    margin-bottom: 2rem;
    // @media (max-width: 768px) {
    //   @include h1Small;
    // }
  }
  #intro-content {
    text-align: center;
    @include pBig;
    font-weight: lighter;
    @media (max-width: 768px) {
      @include pSmall;
      width: 100%;
    }
  }
}

#intro-container::before {
  content: "About";
  @include sectionTitle;
}

// .title {
//   @include titleBig;
//   position: absolute;
//   left: 60%;
//   top: 10%;
//   @media (max-width: 768px) {
//     @include titleSmall;
//     left: 50%;
//     top: 2%;
//   }
// }
