li {
  list-style: none;
}

#nav-container,
#nav-links,
#nav-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#nav-container {
  justify-content: space-between;
}
#nav-links {
  > * {
    margin-left: 2vw;
  }
}
#nav-contact {
  > * {
    margin-right: 2vw;
  }
}
