li {
  list-style: none;
}

#nav-container,
#nav-links,
#nav-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// #nav-container {
//   padding-top: 50px;
// }
#nav-contact {
  margin-left: auto;
}

#logo {
  margin-right: 15vw;
  font-size: 1.3rem;
}
#logo span {
  font-weight: 600;
}
#nav-links *,
#nav-contact * {
  margin-left: 2.3vw;
}
