#work-container-wrapper {
  padding: 10vh 10vw;
  background-color: #2d2e32;
}

@media (max-width: 768px) {
  #work-container-wrapper {
    padding: 5vh 0;
  }
}

#work-container {
  background-color: #25262a;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-height: 25vw;
  padding: 3rem;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #work-container {
    margin: 30px auto;
    padding: 1.5rem;
  }
}

#work {
  width: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24vw;
      grid-template-columns: 1fr 24vw;
  -ms-grid-rows: 5vw 12vw 3vw;
      grid-template-rows: 5vw 12vw 3vw;
  -webkit-column-gap: 8%;
          column-gap: 8%;
      grid-template-areas: "alpha beta" "gamma beta" "delta beta";
}

#work h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 400;
}

#work p {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 200;
}

#work button {
  margin-right: 2%;
  letter-spacing: 1px;
  color: #64f4ac;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid #64f4ac;
  background-color: transparent;
  border-radius: 2rem;
}

#work button:hover {
  background-color: #64f4ac;
  color: #25262a;
  cursor: pointer;
}

@media (max-width: 768px) {
  #work {
    width: 60vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 60vw auto auto;
        grid-template-rows: 60vw auto auto;
        grid-template-areas: "beta" "gamma" "delta";
  }
  #work #work-heading {
    display: none;
  }
  #work h1 {
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
  }
  #work p {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 200;
  }
  #work > * {
    margin: 5px 0;
  }
}

#work-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: alpha;
}

#card {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: beta;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 #25262aa6;
          box-shadow: 0 8px 32px 0 #25262aa6;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#card #card-details {
  height: 18%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card #card-details h1 {
  margin-right: auto;
}

#card #card-details p {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 200;
  margin-right: 2%;
}

@media (max-width: 768px) {
  #card #card-details {
    padding: 0.5rem;
  }
  #card #card-details h1 {
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
  }
  #card #card-details p {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 200;
  }
}

#card #card-image {
  background-image: url("../../img/card-image2.jpg");
  background-size: cover;
  background-position: center;
  height: 82%;
}

#work-summary {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gamma;
  overflow: hidden;
}

@media (max-width: 768px) {
  #work-summary {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

#work-btn {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: delta;
}
/*# sourceMappingURL=work.css.map */